:root {
    --Background: #F8F9F4;
    --Primary: #7BAE7F;
    --Buttons: #2F5D50;
    --Text: #2B2B2B;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    color: var(--Text);
}
img{
    border-radius: 50%;
    padding-top: 10px;
}
.header {
    display: flex;
    /* places items horizontally */
    align-items: center;
    /* centers them vertically */
    
    /* adds space between logo and text */
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--Primary);
    text-decoration-color:var(--Text);
}