:root {
    --Background: #f1f6df;
    --Primary: #7bae7f72;
    --Buttons: #2F5D50;
    --Text: #2B2B2B;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    color: var(--Text);
}

img {
    border-radius: 50%;
    padding-top: 10px;
}

.header {
    display: flex;
    /* places items horizontally */
    align-items: center;
    /* centers them vertically */

    /* adds space between logo and text */
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #84b088cd;
    text-decoration-color: var(--Text);
}

.main {
    padding: 20px;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    overflow-y: auto;
}

.search-container {
    /* border: 5px solid; */
    border-radius: 33px;
    width: 30%;
    margin: 10px;
    padding: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
}
input,select {
    padding: 8px 0px 8px 8px;
    border: 2px solid var(--Buttons);
    border-radius: 14px;
}

input {
    width: 70%;
}

.select {
    width: 70%;
    display: flex;
    gap: 5px;
}

#cuisine-select {
    width: 50%;
}

#meal-type-select {
    width: 50%;
}

button {
    background-color: var(--Buttons);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #47645c;
}