:root {
    --Background: #f1f6df;
    --Primary: #7bae7f72;
    --Buttons: #2F5D50;
    --Text: #2B2B2B;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    color: var(--Text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
img {
    border-radius: 50%;
    padding-top: 10px;
}

.header {
    display: flex;
    /* places items horizontally */
    align-items: center;
    /* centers them vertically */
    /* height: 5vh; */
    /* adds space between logo and text */
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #84b088cd;
    text-decoration-color: var(--Text);
    border: 1px solid;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    overflow-y: auto;
}

.search-container {
    /* border: 5px solid; */
    border-radius: 33px;
    width: 30%;
    margin: 10px;
    padding: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
}

input,
select {
    padding: 8px 0px 8px 8px;
    border: 2px solid var(--Buttons);
    border-radius: 14px;
}

.search-input {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='green'><path stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z' /></svg>");
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 16px;
    padding-left: 30px;
}

input {
    width: 70%;
}

.select {
    width: 70%;
    display: flex;
    gap: 5px;
}

#cuisine-select {
    width: 50%;
}

#meal-type-select {
    width: 50%;
}

button {
    background-color: var(--Buttons);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #47645c;
}
.recipes-container {
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 10px 0;
    border: #2B2B2B 2px dashed;
    border-radius: 30px;
    background-color: #ffffffa1;
}
.footer {
    /* height: 5vh; */
    border: 1px solid;
    padding: 0 25px; 
    background-color: #84b088cd;
    color: var(--Text);
    display: flex;
    align-items: center;
    justify-content: space-between;    
    min-height: 50px; 
}
.footer h3,
.footer p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}
.footer p span {
    font-weight: 700;
    color: var(--Buttons); 
}
.contact {
    display: flex;
    gap: 20px; 
}
.icon-link {
    color: var(--Buttons); 
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease;
}
.icon-link svg {
    width: 20px;
    height: 20px;
    fill: currentColor; 
}
.icon-link:hover {
    color: var(--Text);
}
/* On mobile, hide the text and only show icons to save space */
.icon-link span {
    display: none; /* Hide text by default */
}